.openIconContainer--drawer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menuIcon--drawer {
  color: #c9591b !important;
  font-size: 30px;
}
.childrenContainer--drawer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.closeIcon--drawer {
  color: #c9591b !important;
}
.closeIconContainer--drawer {
  justify-content: right;
}