.menuContainerNav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.menuContainer--subMenuContainer {
  gap: 10px;
}
.styledLinkContent--store:hover {
  text-decoration: underline;
}
.styledLinkContent {
  font-size: 16px;
}
@media (max-width: 921px) {
  .menuContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}